.idea
__pychace__
.ipynb_checkpoints
assets
venv
geopandas_dependencies
fqc_vs_fqc.py
ipqc.py
map.py
README.md
scratch.py
simple.geojson
supporting_doc.md
symptom_line.py
symptom_pie.py
Untitled.ipynb