venv/
.idea
.ipynb_checkpoints
__pychace__
assets
geopandas_dependencies
venv
fqc_vs_fqc.py
ipqc.py
map.py
scratch.py
simple.geojson
supporting_doc.md
symptom_line.py
symptom_pie.py
Untitled.ipynb
politics.csv